
body{
    margin: -10px 0px;
    font-family: 'Blinker', sans-serif;
    box-sizing: border-box;
}
.navbar {
    height: 50px;
    /* line-height: 50px; */
    text-align: center; 
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.navbar ul {
    margin: 0px;
}
.navbar li {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    
}
.navbar ul li a {
    text-decoration: none;
    color: #00d9ff;
    height: 50px;
    font-size: 28px;
    margin: 0px 10px;
    line-height: 50px;
    vertical-align: middle;
}

.navbar ul li a:hover {
    color: white;
    
}